<div layout:decorator="layout/layout" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content">
        <div id="notfound" style="color:white;">
            <div class="notfound">
                <div class="notfound-404">
                    <h3>Oops! Page not found</h3>
                    <h1><span>4</span><span>0</span><span>4</span></h1>
                </div>
                <h2 style="color:white;">we are sorry, but the page you requested was not found</h2>
            </div>
        </div>
    </div>
</div>