
<div layout:decorator="layout/layout" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content">
        <div class="page-container" id="main">
            <div>
                <h1 style="color:white;" align="center">ReHair</h1>
                <br>
                <br>
                <div class="content" align="center" style="opacity: 0.7;
                background:url(static/forBeauty/home_pic.jpeg);
                                                    background-color:rgba(255, 255, 255, 0.2);
                                                    height:640px;width:640px;margin:auto;
                                                    ">
                    <br>
                    <br>

                    <br>
                    <p style="color:#C8C8C8;">
                        <button type="button" class="btn btn-primary"
                                onclick="location.href='/login'"
                                style="background-color:#222222;width:200px;height:75px;font-size:20px;">login</button>
                    </p>
                    <br>
                    <p style="color:#C8C8C8;">
                        <button type="button" class="btn btn-primary"
                                onclick="location.href='/register'"
                                style="background-color:#222222;width:200px;height:75px;font-size:20px;">register</button>
                    </p>
                    <br>
                    <p style="color:#C8C8C8">
                        <button type="button" class="btn btn-primary"
                                onclick="logout()"
                                style="background-color:#222222;width:200px;height:75px;font-size:20px;">logout</button>

                    </p>

                    <br>
                    <br>
                </div>
            </div>


        </div>
    </div>
</div>