<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReHair</title>
</head>
<body>
ReHair
<div class="content" align="center">
    <br>
    <br>
    <h1>Login</h1>
    <br>
    <br>
    <p class="ex1" style="color:#C8C8C8">-If you haven't registered, here
        <strong><a href="/register">Register</a></strong>.-
    </p>
    <br>
    <p>
        Username <input type="text" id="userName" name="userName">
    </p>
    <p>
        Password&nbsp; <input type="password" id="passWd" name="passWd">
    </p>
    <p>
    <div class="btn-group btn-group-sm">
        <button type="button" onclick="login()" class="btn btn-primary"
                style="background-color: #203643;border-color: #cccccc"> login
        </button>
    </div>
    </p>
    <br>
    <br>
</div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>

    <script src="/static/js/login.js"></script>
</body>
</html>