<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="content" align="center">
    <br>
    <br>
    <h1>Register</h1>
    <br>
    <br>
    <p class="ex1" style="color:#C8C8C8">-If you have already registered, here
        <strong><a href="/login">Login</a></strong>.-
    </p>
    <br>
    <p>
        Username <input type="text" id="userName" name="userName">
    </p>
    <p>
        Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" id="email" name="email">
    </p>
    <p>
        Password&nbsp; <input type="password" id="passWd" name="passWd">
    </p>
    <p>
        Comfirm&nbsp;&nbsp;&nbsp; <input type="password" id="passWd_2" name="passWd_2">
    </p>
    <p>
    <div class="btn-group btn-group-sm">
        <button type="button" onclick="register();" class="btn btn-primary"
                style="background-color: #203643;border-color: #cccccc">
            Register </button>
    </div>
    </p>
    <br>
    <br>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>

<script>
    function register() {
        'use strict';
        var userName = document.getElementById("userName").value;
        var passWd = document.getElementById("passWd").value;
        var passWd_2 = document.getElementById("passWd_2").value;
        var email = document.getElementById("email").value;

        if (typeof userName == "undefined" || userName == null || userName == "") {
            alert("用户名不能为空！");
            window.location.href = '/register';
            return;
        }
        if (typeof email == "undefined" || email == null || email == "") {
            alert("邮箱不能为空！");
            window.location.href = '/register';
            return;
        }
        if (typeof passWd == "undefined" || passWd == null || passWd == "") {
            alert("密码不能为空！");
            window.location.href = '/register';
            return;
        }
        if (passWd.length < 6) {
            alert("密码长度至少6位！");
            window.location.href = '/register';
            return;
        }
        console.log(passWd);
        console.log(passWd_2);
        if (passWd !== passWd_2) {
            alert("两次密码输入不一致！");
            window.location.href = '/register';
            return;
        }

        $.ajax({
            method: "POST",
            url: "/register",
            async: false,
            data: {"username": userName, "password": passWd, "email": email},
            success: function (data) {
                console.log(data);
                console.log(data.flag);
                console.log(data.errorMsg);
                if (data.flag) {
                    // alert("success");
                    window.location.href = '/login';
                    return;
                } else {
                    alert(data.errorMsg);
                    window.location.href = '/register';
                    return;
                }
            }
        });
    }
</script>
</body>
</html>