<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ReHair</title>
</head>
<body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
	<script src="/static/js/rehair.js"></script>
	
	<h1>ReHair</h1>
	<a href="/pastReHair">想看历史图片及打分?</a>
	
	<div id="checkboxs"></div>
	<!--
	<p>
		<input type="checkbox" id="cbox1" value="first_checkbox">
		<label for="cbox1">This is the first checkbox</label>
		<img id="tem1" src="" alt="">
	</p>
	<p>
		<input type="checkbox" id="cbox2" value="first_checkbox">
		<label for="cbox1">This is the first checkbox</label>
		<img id="tem2" src="" alt="">
	</p>
	<p>
		<input type="checkbox" id="cbox3" value="first_checkbox">
		<label for="cbox1">This is the first checkbox</label>
		<img id="tem3" src="" alt="">
	</p>
	<p>
		<input type="checkbox" id="cbox4" value="first_checkbox">
		<label for="cbox1">This is the first checkbox</label>
		<img id="tem4" src="" alt="">
	</p>
	<p>
		<input type="checkbox" id="cbox5" value="first_checkbox">
		<label for="cbox1">This is the first checkbox</label>
		<img id="tem5" src="" alt="">
	</p>
	-->
	<div id="res"></div>
	
	<div id="modifybutton"></div>
</body>
</html>