<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share</title>
</head>
<body>
  <!-- 考虑返回最新的几条动态？-->
  <h1>Share</h1>

  <div id = "shares">

  </div>


    <div id="create" class="input-group rounded bg-white-pure box-shadow-wrap-normal">
	    <button type="button" id="t" onclick="createShare()">发布动态</button>
	    
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
  
    <script src="/static/js/getShare.js"></script>

	<script src="/static/js/follow.js"></script>
	<script src="/static/js/createShare.js"></script>


</body>
</html>