
<div layout:decorator="layout/layout" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>Share</title>
            <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
            <link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
            <link rel="bookmark" th:href="@{/static/favicon.ico}" type="image/x-icon"/>

        </head>

        <div>
            <h1 style="text-align: center;font-size:50px;color:white;">Share</h1>

                <div id = "shares" style="color:white;text-align: center;">

                </div>

            <div id="create" class="input-group rounded bg-white-pure box-shadow-wrap-normal">
                <button type="button" id="t" onclick="createShare()">发布动态</button>

            </div>

        </div>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/getUser.js"></script>
        <script>
            $(function() {
                // my_own_thing
                // 这里的重写有问题，需要返回到个人主页
                $('#my_own_thing').empty();

                var tmp = "<li>";
                tmp = tmp + "<a onclick=\"logout()\"> 退出登录 </a>"
                tmp = tmp + "</li>";

                $('#my_own_thing').append(tmp);

                tmp = "<li>";
                tmp = tmp + "<a href=\"/share\">动态圈</a>"
                tmp = tmp + "</li>";
                $('#my_own_thing').append(tmp);

                var session = getUser();
                tmp = "<li>";
                tmp = tmp + "<a id=\"myShare\" href=\"/share/" + session + '"';
                tmp = tmp + ">我的动态</a>"
                tmp = tmp + "</li>";
                $('#my_own_thing').append(tmp);


                tmp = '<li>';
                tmp = tmp + "<a id=\"personal_page\" href=\"/user/" + session + '"';
                tmp = tmp +  ">个人主页</a>"
                tmp = tmp + "</li>";
                $('#my_own_thing').append(tmp);

            })
        </script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>

        <script src="/static/js/getShare.js"></script>

        <script src="/static/js/follow.js"></script>
        <script src="/static/js/createShare.js"></script>


    </div>
</div>
