<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
    <h1 th:text="${username}"></h1>
    <p th:text="${email}"></p>

    <p id = "headPhoto" th:text ="${headPhoto}"></p>

    <div id="head" style="border:1px solid #eee;width:320px;height:100px;"></div>

    <div class="input-group rounded bg-white-pure box-shadow-wrap-normal">
        <button type="button" onclick="upfile.click()" class="transparent btn"
                style="">修改头像</button>
        <input type="file" id="upfile" accept='' onchange="uploadFile(this)"
               style="visibility: hidden; position: absolute;">
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="btn-group btn-group-sm">
        <button type="button" onclick="showFriend()" class="btn btn-primary"
                style=""> Following
        </button>
    </div>


    <div id="friend">

    </div>

    <script src="/static/js/userPage.js"></script>
    <script src="/static/js/ImageToBs64.js"></script>
    <script src="/static/js/showFriend.js"></script>


</body>

</html>