<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
    <h1 th:text="${username}"></h1>
    <p th:text="${email}"></p>

    <p id = "headPhoto" th:text ="${headPhoto}"></p>

    <div id="head" style="border:1px solid #eee;width:320px;height:100px;"></div>

    <script src="/static/js/userPage.js"></script>



</body>

</html>